[submodule "ImagePicker"]
	path = ImagePicker
	url = https://github.com/mbecker/ImagePicker.git
[submodule "TOCropViewController"]
	path = TOCropViewController
	url = https://github.com/mbecker/TOCropViewController
[submodule "Eureka"]
	path = Eureka
	url = https://github.com/xmartlabs/Eureka.git
